



/* =========================================
   HERO LAYOUT PREMIUM
========================================= */

.hero-layout{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:80px;
  min-height:100vh;
}

/* FOTO */

.hero-image-container{
  position:relative;
  width:340px;
  height:340px;
  flex-shrink:0;
}

.hero-image{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
  position:relative;
  z-index:2;
  border:6px solid #FDFBD7;
  box-shadow:0 20px 50px rgba(67,1,25,0.12);
}

.hero-glow{
  position:absolute;
  width:100%;
  height:100%;
  background:#DBD4FE;
  border-radius:50%;
  filter:blur(80px);
  opacity:0.6;
  transform:scale(1.1);
}

/* TEXTO */

.text-content{
  max-width:700px;
}

/* RESPONSIVE */

@media(max-width:1000px){

  .hero-layout{
    flex-direction:column;
    text-align:center;
    justify-content:center;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero-image-container{
    width:240px;
    height:240px;
  }

}/* =========================================
   FOLDERS
========================================= */

.folders-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  gap:40px;
  margin-top:80px;
}

.folder-card{
  background:rgba(255,255,255,0.4);
  border:1px solid rgba(67,1,25,0.08);
  border-radius:35px;
  padding:50px;
  text-decoration:none;
  transition:0.4s ease;
  backdrop-filter:blur(10px);
}

.folder-card:hover{
  transform:translateY(-10px);
}

.folder-icon{
  font-size:40px;
  color:#DE6044;
  margin-bottom:25px;
}

.folder-card h2{
  font-size:42px;
  color:#430119;
  margin-bottom:20px;
}

.folder-card p{
  color:#815E35;
  line-height:1.8;
  font-size:17px;
}
